/*
 * Estilos de tu proyecto
 */
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     color: #FFF;
     font-family: "Century Gothic";
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-align: center;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 .container {
     width: 100%;
     max-width: 1200px;
     margin: 0px auto;
     float:left;
     background-color: #424E75;
 }

 #contenedorVerde {
     width: 100%;
     max-width: 1200px;
     margin: 0px auto;
     float:left;
     background-color: #3FDEA4;
 }

 .monito{
   padding: 50px;
 }

 .row:before,
 .row:after {
     content: " ";
     display: table;
 }

 .row:after {
     clear: both;
 }

 [class*="col-"] {
     min-height: 7px;
     padding: 12px;
     float: left;
 }

 #portafolio .cajaImagen{
   width: 20%;
   display: inline-block;
   margin-left: 115px;
   margin-right: 30px;
   margin-top: 30px;
   color: #000;
 }

 #portafolio .cajaImagen img{
   width: 100%;
 }

.portfolioLetras{
   padding-top:  50px;
   color: #000;
 }

#portfolioLetras{
  width: 20%;
  display: inline-block;
  margin-left: 115px;
  margin-right: 30px;
  margin-top: 30px;
  color: #000;
}

 .modalYu {
     display: none; /* Escondido por default */
     position: fixed; /* Se mantiene en su lugar*/
     z-index: 1; /* Se queda en el top */
     padding-top: 100px; /* Lugar donde se localiza la caja */
     left: 0;
     top: 0;
     width: 100%; /* Full */
     height: 100%; /* Full */
     overflow: auto; /* Scroll habilitado por si se necesita */
     background-color: rgb(0,0,0); /* Color de la caja trasera */
     background-color: rgba(0,0,0,0.9); /* Negro con opacidad */
 }

input{
  color: gray;
  display: block;
  padding: 8px;

}
 .col-1 {
     /*(1/12)x100*/
     width: 8.333333%;
 }

 .col-2 {
     /*(2/12)x100*/
     width: 16.666667%;
 }

 .col-3 {
     /*(3/12)x100*/
     width: 25%;
 }

 .col-5 {
     /*(5/12)x100*/
     width: 41.666667%;
 }


 .col-10 {
     /*(10/12)x100*/
     width: 83.33%;
 }

 .col-12 {
     /*(12/12)x100*/
     width: 100%;
 }
